{{#> app}}
{{#*inline "content"}}
<div class="row">
  <div class="col-md-6 col-lg-4 mb-2">
    <img src="/img/game.png" alt="game" class="img-fluid roundeded">
  </div>
  <div class="col-md-6 col-lg-4 mb-2">
    <img src="/img/safe.png" alt="game" class="img-fluid roundeded">
  </div>
  <div class="col-md-6 col-lg-4 mb-2">
    <img src="/img/submarine.png" alt="game" class="img-fluid roundeded">
  </div>
</div>
{{/inline}}
{{/app}}